@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 0 0% 100%;
  --card: 0 0% 0%;
  --card-foreground: 0 0% 100%;
  --popover: 0 0% 0%;
  --popover-foreground: 0 0% 100%;
  --primary: 46 57% 52%;
  --primary-foreground: 0 0% 0%;
  --secondary: 0 0% 0%;
  --secondary-foreground: 46 57% 52%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 70%;
  --accent: 46 57% 52%;
  --accent-foreground: 0 0% 0%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 100%;
  --border: 46 57% 52%;
  --input: 46 57% 52%;
  --ring: 46 57% 52%;
  --radius: 0.5rem;
}

body {
  @apply bg-black text-white;
}
